<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.1.0" name="hebi_motor">
  <!-- HEBI A-2084-01 Arm Kit -->
  <xacro:include filename="$(find hebi_motor)/urdf/hebi.xacro"/>
<!--  <xacro:arg name="hebi_base_frame" default="world"/>
  <xacro:property name="hebi_base_frame" value="$(arg hebi_base_frame)"/>
  <xacro:if value="${hebi_base_frame == 'world'}">
    <link name="$(arg hebi_base_frame)"/>
  </xacro:if>
  <joint name="$(arg hebi_base_frame)_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="$(arg hebi_base_frame)"/>
    <child link="Arm/J1_base/INPUT_INTERFACE"/>
  </joint> -->

  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="Arm/J1_base/INPUT_INTERFACE"/>
  </joint>

  <xacro:actuator type="X8_9" name="Arm/J1_base" child="shoulder_elbow"/>
  <xacro:link type="X5" extension="0.325" twist="${0}" name="shoulder_elbow" child="end_effector"/>
  <xacro:gripper type="parallel" name="end_effector" mass="0.0"/>
</robot>
<!--  <xacro:gripper type="Custom" name="end_effector" mass="0.0"/>
</robot> -->
